body {
    background-color: rgb(255, 255, 255);}


#pozadina2 {
    width: 500px;
    height: 500px;
    background-color: rgb(10, 2, 39);
    border-radius: 20px;
    position: relative;
    right: -500px;
    top: 90px;
}

#gmail {
    color: rgb(255, 255, 255);
}

#gmail2 {
    color: rgb(0, 0, 0);
    border-radius: 30px;
}

#password2 {
       border-radius: 30px;
}

#password {
    color: white;
}

#new_password {
    color: white
}

#button_send {
    position: relative;
    top: 351px;
    right: -20px;
    border-radius: 10px;
    width: 55px;
    background-color: black;
   color: white;
   cursor: pointer;
}

#button_back {
    position: relative;
    top: 314px;
    right: -80px;
    border-radius: 10px;
    width: 55px;  
   background-color: black;
   color: white;
   cursor: pointer;
}

#button_reset {
    position: relative;
    top: 277px;
    right: -140px;
    border-radius: 10px;
    width: 55px; 
    background-color: black;
   color: white;
   cursor: pointer;
}

#new_password2 {
    border-radius: 30px; 
}

#a {
    position: relative;
    top: 100px;
    right: -100px;
  
}

#b {
    position: relative;
    top: 105px; 
    right: -100px;

}

#c {
    position: relative;
    top: 107px;
    right: -100px;
}


#naslov {
   color: white;
   position: relative;
   top: -200px;
   right: -120px;

}
